body {
    font-family: Arial, sans-serif;
}
  
#start, #quiz_container {
    max-width: 600px;
    height: 200px;
    border: 2px solid black;
    padding: 20px;
    margin: 0 auto;
    text-align: center;
}
  
button {
    margin-top: 10px;
}
  