body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
    background-image: linear-gradient(rgba(171, 173, 174, 0.7), rgba(171, 171, 171, 0.7)),url(images/backgroud.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dark_btn_container{
    display: flex;
    align-items: flex-start;
}
#darkMode {
    margin: 20px;
}
#main_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

#start, #quiz_container {
    background: rgba(251, 251, 251,0.8);
    margin: 0 auto;
    width: 600px;
    height: 380px;
    border-radius: 15px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.3);
    padding: 50px 30px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#start{
    justify-content: center;
}
h1 {
    font-size: 30px;
}
#go{
    font-size: 1rem;
    height: 50px;
}

#question_container{
    width: 500px;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 600;
    margin-bottom: 10px;
    
}


label {
    display: inline-block;
    background-color: #ffffff;
    width: 400px;
    height: 30px;
    margin: 10px;
    padding-top:9px ;
    padding-left: 10px;
}
#toNextQue {
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

  
button {
    margin-top: 20px;
    background: linear-gradient(#ffa500, #de6101);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    width: 100px;
    height: 35px;
}

button:hover {
    background-color: white;
}
h2 {
    font-size: 30px;
    text-align: center;
}
#quiz_container > div > p {
    text-align: center;
}
#result{
    background: rgba(251, 251, 251,0.7);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 600px;
    min-height: 200px;
    margin: 80px auto;
    padding: 50px 100px;
}
#result li{
    list-style-type:none;
    line-height: 1.5;
    margin: 0.8rem 0;
}

li > p {
    margin: 0.2rem;
}

/* darkmode setting */
body.darkmode {
    background-image: none;
    background-color: black;
}
.darkmode #start,.darkmode #quiz_container {
    background:black;
    color: white;
    border: 1px solid white;
}
.darkmode label {
    color: black;
}
.darkmode #result {
    background:black;
    color: white;
    border: 1px solid white;
}

@media (max-width:480px){
    body{
        min-height:20vh;
    }
    #main_content {
        margin: 0px;
    }
    #start, #quiz_container {
        max-width: 300px;
        min-height: 500px;
        padding: 20px 15px;
        margin: 115px;

    }
    #question_container, #option_container{
        width: 300px;
        font-size: 1.2rem;
    }
    label {
        width: 220px;
        height: 30px;
        margin: 10px;
        padding-top:9px ;
        padding-left: 10px;
    }
    #result{
        padding: 20px;
        max-width: 300px;
        min-height: 620px;
        margin: 50px auto;
        padding: 30px 20px;
    }
}